.headerStyle {
  background-color: grey;
  padding: 0.2rem 0.8rem;
  display: flex;
  align-items: center;
  /* max-width:50vw; */
  justify-content: space-between;
}
.headerStyle a {
  color: #ccc;
  text-decoration: none;
}
.rightSideHeader span {
  margin-right: 2rem;
  color: black;
  /* color: red; */
  /* background-color: red; */
}
.rightSideHeader span:hover {
  cursor: pointer;
  border-bottom: 1px solid black;
  transition: 0.8s ease;
  color: white;
}
.visibleMenu {
  display: none;
  /* right:2; */
  /* left:0 */
}
.menu {
  display: none;
}
.menu:hover {
  cursor: pointer;
}
.visibleMenu div {
  /* margin-top: 10px; */
  width: 100px;
  padding: 10px 5px;
  /* height: 50px; */
  border: 1px solid #ccc;
}
.visibleMenu div:hover {
  border: 1px solid black;
  background-color: black;
  color: white;
  cursor: pointer;
}
@media (max-width: 600px) {
  .rightSideHeader span {
    display: none;
  }
  .menu {
    display: flex;
  }
  .visibleMenu {
    position: absolute;
    right: 0;
    margin-right: 30px;
    top: 0;
    margin-top: 30px;
    /* margin-top: 20;  */
    display: flex;
    flex-direction: column;
    /* right:2; */
    /* left:0 */
  }
}
